{
  "presets": [
    [
      "env", {
        "targets": { "browsers": [ "last 2 versions" ] },
        "modules": false
      },
    ],
    "react"
  ],
  "plugins": [ "react-require" ],
  "env": {
    "development": {
      "presets": [ "react-hmre" ]
    }
  }
}
