<!DOCTYPE html>
<html>
  <head>
    <title>ガシャポン</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag webpack_asset('gashapon.js'), defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
